body {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
.scss-chat-row-container {
  max-height: calc(100vh - 60px);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.scss-chat-section-right-body {
  flex: 1;
  max-height: calc(100vh - 60px - 56px);
  overflow: auto;
  &::-webkit-scrollbar {
    // width: 0;
  }
}

.my-width {
  width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 1250px) {
    width: 90vw;
  }
}
.nav-active {
  transform: translateX(0);
}

.my-darkbg {
  // background-image: radial-gradient(
  //   123.22% 129.67% at 100.89% -5.6%,
  //   #201d47 0%,
  //   #17153a 100%
  // );
  background-color: #17191c;
}

.animate-char {
  animation: charAni 2s linear infinite;
  perspective: 1000px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // background-color: red;
}
@keyframes charAni {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(1.4);
    color: red;
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}
